<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargar Archivo</title>
</head>
<body>

<div class="container">
    <h1><b>Cargar el archivo de datos</b></h1>
    <form th:action="@{/cargarCSV}" method="POST" enctype="multipart/form-data">
        <br>
        <input type="file" class="form-control" name="file" accept = ".csv">
        <br>
        <input class = "btn btn-primary"
               type="submit" value="Cargar el archivo a la Base de Datos">
    </form>
    <br>
    <u><b> <h2 th:text="${mensaje}"></h2></b></u>
</div>

<div class = "form1">
    <h5><b>Recuerde que debe cargar un archivo Excel de extensión .csv!</b></h5>
</div>

</body>
</html>