<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargar Archivo</title>
</head>
<body>

<!-- Mostrar mensaje de éxito si existe -->
<div th:if="${mensaje}" class="alert alert-success">
    <p th:text="${mensaje}"></p>
</div>
<!-- Mostrar mensaje de error si existe -->
<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>

<div class="container">
    <h1><b>Cargar el archivo de datos</b></h1>
    <form th:action="@{/cargarCSV}" method="POST" enctype="multipart/form-data">
        <br>
        <input type="file" class="form-control" name="file" accept = ".csv">
        <br>
        <input class = "btn btn-primary"
               type="submit" value="Cargar el archivo a la Base de Datos">
    </form>
    <br>

    <form  th:action="@{/aplicarPuntaje}" method="POST">
        <button type="submit" class="btn btn-primary">Aplicar Puntaje</button>
    </form>


    <!--<u><b> <h2 th:text="${mensaje}"></h2></b></u>-->
</div>

<div class = "form1">
    <h5><b>Recuerde que debe cargar un archivo Excel de extensión .csv!</b></h5>
</div>

<div class = "form2">
    <h5><b>Solo preciones 'Aplicar Puntaje' cuando haya ingresado todos los excel</b></h5>
</div>


</body>
</html>