<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Estudiantes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">

    <h1>Listado de Estudiantes</h1>
    <a class="btn btn-secondary" href="http://localhost:8090/nuevoEstudiante" role="button">Añadir Estudiante</a>

    <hr>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>RUT</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Tipo de Escuela</th>
            <th>Nombre de la Escuela</th>
            <th>Año de egreso</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.rut}"></td>
            <td th:text="${student.getNombre_estudiante()}"></td>
            <td th:text="${student.getApellido_estudiante()}"></td>
            <td th:text="${student.getFecha_nacimiento()}"></td>
            <td th:text="${student.getTipo_escuela()}"></td>
            <td th:text="${student.getNombre_escuela()}"></td>
            <td th:text="${student.getAnio_egreso()}"></td>
            <td>

                <form  th:action="@{/mostrarPago}" method="POST">
                    <input type="hidden" name="id_estudiante" th:value="${student.id}">
                    <button type="submit" class="btn btn-primary">Mostrar Cuotas</button>
                </form>

                <form  th:action="@{/registrarPago}" method="POST">
                    <input type="hidden" name="id_estudiante" th:value="${student.id}">
                    <button type="submit" class="btn btn-primary">Pagar Cuotas</button>
                </form>

                <a class="btn btn-info" href="#" role="button">Editar</a>
                <a class="btn btn-secondary" href="#" role="button">Eliminar</a>

            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>


