
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro Estudiante</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
    <h1>Formulario de Estudiantes</h1>
    <form  th:action="@{/nuevoEstudiante}" method="POST">
        <h1><b>Registrar nuevo Estudiante</b></h1>
        <div class="formcontainer">
            <hr/>
            <div class="container">
                <label><strong>Codigo</strong></label>
                <label for="rut"></label><input type="text" id = "rut"
                                                placeholder="Ingrese el rut del estudiante" name="rut" required>
                <label><strong>Nombre</strong></label>
                <label for="nombreEstudiante"></label><input type="text" id = "nombreEstudiante"
                                                             placeholder="Ingrese el nombre del estudiante" name="nombre" required>
                <label><strong>Categoría</strong></label>
                <label for="nombreApellido"></label><input type="text" id = "nombreApellido"
                                                           placeholder="Ingrese el apellido del estudiante" name="apellido" required>
                <label><strong>Categoría</strong></label>
                <label for="tipoEscuela"></label><input type="text" id = "tipoEscuela"
                                                        placeholder="Ingrese el tipo de escuela del estudiante (privado/ subvencionado/ comuna)" name="tipo de escuela" required>
                <label for="nombreEscuela"></label><input type="text" id = "nombreEscuela"
                                                          placeholder="Ingrese el nombre de la escuela del estudiante" name="nombre de escuela" required>
            </div>
            <button type="submit">Registrar Estudiante</button>
        </div>
    </form>
</div>
</body>
</html>
