<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Pago</title>
</head>
<body>

<form th:action="@{/registrarPago}" method="POST">
    <h5>Seleccione un Estudiante:</h5>
    <label>
        <select name="alumno" required>
            <option value="">Selecciona un Estudiante</option>
            <option th:each="student : ${estudiantes}" th:value="${student.id}">
                <span th:text="${student.nombreEstudiante + ' ' + student.apellidoEstudiante}"></span>
            </option>
        </select>
    </label>
    <input type="submit" value="Elegir Alumno">
</form>


</body>
</html>