<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seleccionar Estudiante</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <h1>Seleccionar Estudiante</h1>

    <form th:action="@{/mostrarEstudiantes}" method="POST">
        <button type="submit">Mostrar Estudiantes</button>
    </form>

    <!-- Aquí se mostrará la lista de estudiantes cuando se haga clic en el botón -->
    <div th:if="${students != null}">
        <h2>Lista de Estudiantes:</h2>
        <ul>
            <li th:each="student : ${students}">
                <!-- En el siguiente enlace, debes definir la URL adecuada para seleccionar el estudiante -->
                <a th:href="@{/seleccionarEstudiante/{id}(id=${student.id})}" th:text="${student.rut + student.nombreEstudiante + student.apellidoEstudiante
                                                                                          + student.fechaNacimiento + student.tipoEscuela + student.nombreEscuela + student.anioEgreso}"></a>

            </li>
        </ul>
    </div>
</div>
</body>
</html>